* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: rgb(32, 30, 30);
}

html {
    font-size: 62.5%; /* 1rem = 10px */

    @media (max-width: 1200px) {
        font-size: 56.25%; /* 1rem = 9px */
    }

    @media (max-width: 992px) {
        font-size: 50%; /* 1rem = 8px */
    }

    @media (max-width: 768px) {
        font-size: 43.75%; /* 1rem = 7px */
    }

    @media (max-width: 576px) {
        font-size: 37.5%; /* 1rem = 6px */
    }
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.headers{
    width: 70%;
    padding-top: 2rem;
}
.headers h1{
    font-size: 4rem;
}
.headers input {
    margin-top: 4rem;
    font-size: large;
    padding: 1rem;
    border-radius: .5rem;
    width: 50%;
    border: .2px solid gray;
    
}

.headers input:focus {
    border: 1px solid gray;
    outline: none;
}

/* flag section */
.flag-section{
    margin-top: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}
.flag-div{
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: whitesmoke;
}
.flag-div img{
    max-width: 50%;
    object-fit: cover;
    max-height: 50%;
}
.flag-info{
    width: 50%;
    text-align: left;
    padding-left: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
}
#flag-name{
    font-size: 2rem;
}
.button-div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.button-div button{
    border: 2px solid rgb(27, 84, 241);
    font-size: 1.5rem;
    color: rgb(27, 84, 241);
    padding: .3rem;
    border-radius: 5px;
    background-color: white;

}
.button-div button:hover{
    background-color: rgb(27, 84, 241);
    color: white;
    transition: ease-in-out .1s;
    cursor: pointer;
}


/* details page */
.container {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    text-align: left;
}

.container h1 {
    text-align: left;
    font-size: 4rem;
}
#main-show-div{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    text-align: left;
    padding: 1.5rem;
    font-size: 5rem;
}
.flag-image-picture{
    padding: 1rem;
    min-width: 50%;
    min-height: 100%;
}
#image-flag{
    width: 100%;
    height: 100%;
}
.country-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-detail img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#information p {
    font-size: 2rem;
    margin: 5px 0;
}
#information{
    width: 40%;
    text-wrap: wrap;
    font-size: 3rem;
}
#borders{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
}
.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.back-button:hover {
    background-color: #0056b3;
}